body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(223, 243, 247);
  }

  main {
    flex: 1 0 auto;
  }

  .card-panel {
    /* border-style: groove; */
    /* border-color: salmon; */
    background-color: rgb(139, 217, 231);
  }

  .card {
    background-color:rgb(223, 243, 247);
    position: unset;
  }

  .nav-wrapper {
    /* background-color: rgb(57, 167, 211); */
    background-color: rgb(95, 192, 124);
  }

  .footer  {
    /* background-color: rgb(57, 167, 211); */
    background-color: rgb(95, 192, 124);
  }

  /* #inside-banner {
    border-color: lightcoral;
  } */
/* 
  .btn {
    background-color:rgb(223, 243, 247);

  } */